* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #111;
  color: white;
}

.navbar {
  overflow: hidden;
  padding: 50px 0px 0px 75px;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  color: rgb(224, 46, 106);
  font-weight: 900;
  font-size: 24px;
}

.navbar a:hover,a.active {
  color: salmon;
}

#home {
  position: relative;
  box-sizing: border-box;
  min-height: 80vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 1000;
}

#home a {
  position: relative;
  text-decoration: none;
  background-color: salmon;
  display: inline-block;
  margin: 25px 0px 0px 0px;
  padding: 10px;
  border-radius: 5px;
}

#home h1 {
  font-size: 72px;
  padding-bottom: 15px;
  color: pink;
}

#home h2 {
  font-size: 56px;
  padding-bottom: 20px;
}

#home h3 {
  font-size: 48px;
}

#contact h2, #form h2, #projects h2, #exp h2, #about h2 {
  font-size: 50px;
  font-weight: 1000;
  color: pink;
  padding-bottom: 50px;
}

#about {
  position: relative;
  align-items: center;
  display: flex;
  padding: 100px;
  min-height: 75vh;
  font-weight: 1000;
}

#about img {
  max-width: 300px;
  border-radius: 50%;
  margin-left: 150px;
  margin-right: 50px;
}

#about p {
  font-size: 18px;
}

#about button {
  font-size: 18px;
  background-color: salmon;
  display: inline-block;
  margin: 25px 0px 0px 0px;
  padding: 10px;
}

#fact-container {
  margin-top: 20px;
}

#exp {
  position: relative;
  padding: 100px;
  min-height: 100vh;
  align-content: center;
}

#exp.exp-row {
  height: auto;
  justify-content: center;
  align-items: center; 
}

.experience {
  float: left;
  width: 300px;
  height: auto;
  padding: 10px;
  border: 3px solid salmon;
  border-radius: 5px;
  margin: 10px;
}

.experience h3 {
  font-size: 24px;
  font-weight: 1000;
  text-align: center;
  color: white;
  padding-top: 5px;
}

.experience p {
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  color: white;
  padding-top: 5px;
}


.experience img{
  width: 30%;
  height: auto;
}

.experience img:hover{
  opacity: 0.8;
}

#projects {
  padding: 0 100px 0px 100px;
  min-height: 70vh;
}

#projects.myProj img {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#contact {
  position: relative;
  padding: 100px;
  min-height: 25vh;
}

#contact.contact-info {
  margin: auto;
  width: 50%;
}

.icons {
  padding-right: 25px;
  float:left;
}

.icons img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#form {
  padding: 100px;
  min-height: 75vh;
  font-weight: 1000;
}

input[type=text], textarea {
  width: 100%;
  padding: 15px;
  margin: 10px 0px;
  display: inline-block;
  border: 1px solid pink;
  border-radius: 3px;
  box-sizing: border-box;
}

input[type=submit] {
  position: relative;
  background-color: salmon;
  display: inline-block;
  padding: 10px 20px;
  border: none;
}

#form button {
  font-size: 12px;
  background-color: salmon;
  padding: 8px;
  margin-top: 25px;
  border: none;
}

input[type=submit]:hover, #form button:hover {
  opacity: 80%;
}

select {
  padding: 8px;
}

.select-dropdown {
  padding-bottom: 20px;
}

#form h6 {
  padding: 20px 0px;
  font-size: 20px;
}

#charts {
  position: relative;
  padding: 100px;
  min-height: 50vh;
}